.card {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-6);
  border: var(--border-width-medium) solid var(--border-default-color);
  background: var(--bg-secondary);
  transition: var(--transition-all);

  &:hover {
    border-color: var(--accent-secondary);
  }
}

.large {
  grid-row: span 2;
}

.dots {
  display: flex;
  margin-bottom: var(--spacing-5);
  gap: var(--spacing-2);
}

.header {
  margin-bottom: var(--spacing-4);
}

.client {
  margin-bottom: var(--spacing-2);
  color: var(--accent-primary);
}

.title {
  letter-spacing: var(--letter-spacing-normal);
}

.description {
  margin-bottom: var(--spacing-6);
}

.link {
  all: unset;
  margin-top: auto;
  color: var(--accent-secondary);
  cursor: pointer;
  font-size: var(--font-size-base-sm);
  text-align: left;
  transition: var(--transition-color);

  &:hover {
    color: var(--accent-primary);
  }
}
