.button {
  all: unset;
  display: inline-flex;
  align-items: center;
  padding: var(--spacing-5) var(--spacing-8);
  border: var(--border-width-medium) solid var(--color-primary);
  background: transparent;
  color: var(--color-primary);
  gap: var(--spacing-3);
  text-decoration: none;
  transition:
    background 0.3s,
    color 0.3s;
}

.button:hover {
  background: var(--color-primary);
  color: var(--color-dark);
}
