/* ==========================================================================
   RESPONSIVE - MOBILE
   ========================================================================== */

@media (--md-n-below) {
  .project-title {
    font-size: var(--font-size-lg);
  }

  .content {
    margin-left: var(--spacing-4);
  }

  .content p,
  .phase p,
  .results-list li {
    font-size: var(--font-size-base-sm);
  }

  .phase-title {
    font-size: var(--font-size-base-lg);
  }

  .subsection {
    padding-left: var(--spacing-6);
  }

  .phase {
    padding: var(--spacing-6);
    padding-left: var(--spacing-8);
  }
}
