.stack {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--spacing-4);
  gap: var(--spacing-2);
}

.tag {
  padding: var(--spacing-1) var(--spacing-3);
  border: var(--border-default);
  color: var(--text-secondary);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  white-space: nowrap;
}
