.toggle {
  all: unset;
  display: inline-flex;
  width: var(--spacing-10);
  height: var(--spacing-10);
  align-items: center;
  justify-content: center;
  border: 0;
  color: var(--text-secondary);
  cursor: pointer;
  transition: var(--transition-all);

  svg {
    display: block;
    transition: var(--transition-all);
  }

  &:hover svg {
    color: var(--accent-secondary);
    filter: drop-shadow(1px 1px 20px rgb(149 197 239 / 80%));

    /* filter: box-shadow(0 0 20px rgb(149 197 239 / 20%)); */
  }

  &:active svg {
    color: var(--accent-primary);
  }
}
