.command {
  display: flex;
  max-width: 500px;
  align-items: center;
  padding: var(--spacing-3-5);
  margin: 0 auto;
  font-size: var(--font-size-body-large);
  gap: var(--spacing-3);
  text-decoration: none;
  transition: var(--transition-color);

  &:hover {
    color: var(--accent-secondary);
  }
}

.prompt {
  color: var(--accent-secondary);
}

.text {
  color: var(--text-primary);
}

.cursor {
  display: inline-block;
  width: var(--spacing-2);
  height: var(--spacing-4);
  background: var(--accent-secondary);
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }

  51%,
  100% {
    opacity: 0;
  }
}
