.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-10) 0;
  border-bottom: var(--border-default);

  @media (--sm-n-below) {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-6);
  }
}
