.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;

  .terminal-prompt {
    color: var(--color-primary);
    font-family: var(--mono-font-family);
  }

  .logo {
    color: var(--color);
    font-family: var(--accent-font-family);
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2px;
  }

  .tagline {
    margin-left: 20px;
    color: var(--color-primary);
    font-family: var(--mono-font-family);
    font-size: 13px;
    letter-spacing: 1px;
    opacity: 0.8;
  }
}
