.navigation {
  display: flex;
  padding-top: var(--spacing-2);
  font-family: var(--mono-font-family);
  font-size: var(--font-size-terminal);
  gap: var(--spacing-12);

  .link {
    color: var(--text-primary);
    text-decoration: none;
    transition: var(--transition-all);

    &::before {
      color: var(--accent-primary);
      content: '> ';
      opacity: 0;
      transition: var(--transition-opacity);
    }

    &:hover::before {
      opacity: 1;
    }

    &:hover {
      color: var(--accent-secondary);
    }
  }
}
