.container {
  /* Mobile baseline: 64px vertical padding */
  max-width: var(--content-base);
  padding: var(--spacing-16) 0;
  margin: 0 auto;

  /* Desktop: 96px vertical padding */
  @media (--lg-n-above) {
    padding: var(--spacing-24) 0 var(--spacing-32);
  }
}
