/* sm */
@custom-media --sm-only (0 <= width < 576px);
@custom-media --sm-n-above (width >= 576px);
@custom-media --sm-n-below (width < 576px);

/* md */
@custom-media --md-only (576px <= width < 768px);
@custom-media --md-n-above (width >= 576px);
@custom-media --md-n-below (width < 576px);

/* lg */
@custom-media --lg-only (768px <= width < 1024px);
@custom-media --lg-n-above (width >= 768px);
@custom-media --lg-n-below (width < 768px);

/* xl */
@custom-media --xl-only (1024px <= width < 1440px);
@custom-media --xl-n-above (width >= 1024px);
@custom-media --xl-n-below (width < 1024px);

/* xxl */
@custom-media --xxl-only (1440px <= width);
@custom-media --xxl-n-above (width >= 1440px);
@custom-media --xxl-n-below (width < 1440px);
