.page-container {
  /* Mobile baseline */
  max-width: 1400px;
  padding: 0 var(--spacing-5);
  margin: 0 auto;

  /* Desktop: larger padding */
  @media (--sm-n-above) {
    padding: 0 var(--spacing-14);
  }
}
